$backgroundColor: #110038;

$textColor: #fff;
$secondaryTextColor: #fff;
$textColorUnactive: #8f8f8f;
$textColorBtn: $textColor;
$headerBackgroundColor: #fffafe;
$textDark: #110038;
$textLight: $secondaryTextColor;



$primaryColor: #ee3efe;
$primaryColorHover: #ce36db;
$primaryShadow: inset -1px -1px 0 0 #997d97,
  inset 1px 1px 0 0 $secondaryTextColor;

$secondaryColor: #2124b3;
$secondaryColorHover: #110038;
$secondaryShadow: inset -2px -2px 0 0 #2124b3,
  inset 2px 2px 0 0 $secondaryTextColor;
$secondaryColorBorder: #4c2f99;
$createPhaseTextColor: #110038;

$secondaryBtnColor: $backgroundColor;
$secondaryBtnColorHover: $backgroundColor;
$thirdBtnColor: #cccccc;

$doneBtnColor: #ff6161;
$doneBtnColorShadow: inset -1px -1px 0 0 #993a3a,
  inset 1px 1px 0 0 $secondaryTextColor;

$progressBlock: $primaryColor;
$progressBlockUnfilled: #999999;

$gradient: linear-gradient(270deg, $primaryColor 0%, $secondaryColor 100%);

$windowBackgroundColor: #b4b4b4;
$windowBackgroundShadow: inset -2px -2px 0 0 $textColorUnactive,
  inset 2px 2px 0 0 $secondaryTextColor;

$headerShadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
$inputBarShadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000;
$itemShadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 $secondaryTextColor;
$loadingBarShadow: inset 2px 2px 0 0 #e6e6e6, inset -2px -2px 0 0 #000;
$gifContainerShadow: inset -1px -1px 0 0 $textColorUnactive,
  inset 1px 1px 0 0 $secondaryTextColor;

.navbar {
  &-logo-placeholder {
    background-image: url(../../assets/gifOF_logo_dark.png);
  }

  &-theme-btn {
    &::after {
      background: url(../../assets/dropdown.svg) no-repeat;
      content: "";
      background-position: center;
      padding: 0 0.85rem;
    }
  }
}

.search-btn-text {
  &::before {
    background-image: url(../../assets/lupa_light.svg);
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    margin-right: 0.3rem;
    background-position: center;
  }
}

.btn-capture.btn {
  &::before {
    background-image: url(../../assets/camera_light.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 1rem;
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    white-space: break-spaces;
  }
}

.btn-done {
  &::before {
    background-image: url(../../assets/recording.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 1rem;
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    white-space: break-spaces;
  }
}

.searchbox-wrapper {
  input:placeholder-shown ~ button.searchbox-input-submit {
    .search-btn-text {
      &::before {
        background-image: url(../../assets/lupa-inactive-dark.svg);
      }
    }
  }
}

@import "colorsheet";
