header {
  margin-top: 1px;
  margin-bottom: 2rem;

  .header-content {
    @extend %fontStack;
    // font-size: 0.6em;
    padding: 0 0.2rem;
  }
}

.navbar {
  @include responsive(desktops) {
    flex-direction: row;
    justify-content: space-between;
  }
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.75rem;
  &-logo-container {
    @include responsive(desktops) {
      width: initial;
    }
    width: 55%;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  &-return-arrow {
    @include responsive(desktops) {
      left: 0.8rem;
    }
    position: absolute;
    left: 5rem;
    align-self: center;
  }
  &-logo-placeholder {
    width: 7rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  &-buttons-wrapper {
    @include responsive(desktops) {
      flex-direction: row;
      width: 37%;
      justify-content: space-evenly;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-btn {
    margin-top: 0.3rem;
  }
  &-myGIFS-btn {
    padding: 0.65rem;
  }
  &-dropdown {
    &-container {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      margin: 0.8rem 0;
      z-index: 5;
    }

    &-theme-options-container {
      &.is-active {
        display: flex;
        position: absolute;
        top: 2rem;
        width: 100%;
        margin-bottom: 0;
      }
    }
    &-option-text {
      padding: 0.35rem 1rem;
    }
  }
}

main {
  @include responsive(desktops) {
    padding: 0 2.5rem;
    width: initial;
  }
  padding: 0 1rem;
  width: 100vw;
}

.creating {
  &-phase {
    &-content-wrapper {
      padding: 1rem 0.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &-window {
      @include responsive(desktops){
        max-width: 60%;
      }
      // display: flex;
      align-self: center;
      min-height: 16rem;
      justify-content: space-between;
    }
    &-videodetails-wrapper {
      @include responsive(desktops) {
        flex-direction: row;
        width: 100%;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: auto;
      flex-direction: column;
    }
  }
}

.create-gif {
  &-container {
    &-subheader-wrapper {
      display: flex;
    }
    &-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: flex-start;
      padding: 1rem 0 0.5rem 0;
    }
    &-buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
      margin-top: 1rem;
    }
  }
  &-subheader-content {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  &-content {
    &-wrapper {
      width: 80%;
      padding-left: 0.5rem;
    }
  }
  &-button {
    &-text {
      padding: 0.4rem 0.33rem;
    }
  }
}

.capture-video {
  &-container {
    // display: flex;
    flex-direction: column;
    .cp-btn {
      @include responsive(desktops) {
        margin-top: 1rem;
      }
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}
.capturing-video {
  &-container {
    // display: flex;
    flex-direction: column;
    &.videodetails {
      &-timer {
        width: 80%;
        height: 1rem;
      }
    }
  }
}
.preview-video {
  &-playbar {
    &-wrapper {
      // display: flex;
      align-items: center;
      margin: 0 1rem;
    }
  }
  &-buttons-wrapper {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.uploading {
  &-video {
    &-container {
      // display: flex;
      flex-direction: column;
    }
    &-content-wrapper {
      @include responsive(desktops){
        padding: 2rem 8rem;
      }
      // display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      margin-bottom: 1.5rem;
    }
    &-text {
      font-weight: bold;
      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &-cancel-btn {
      align-self: flex-end;
    }
  }
  &-progress-bar {
    margin-top: 1.5rem;
  }
  &-gif-cancel-btn {
    margin-top: auto;
  }
}

.success {
  &-buttons-wrapper {
    @include responsive(desktops) {
      margin: 0 1rem;
    }
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  &-upload-content {
    display: flex;
    flex-direction: column;
    @include responsive(desktops) {
      width: 100%;
    }
    p {
      font-weight: bold;
      margin: 0 1rem;
      margin-bottom: 0.5rem;
    }
    &-wrapper {
      // display: flex;
      flex-direction: column;
      @include responsive(desktops) {
        flex-direction: row;
      }
    }
  }
}
.create {
  &-main {
    &-container {
      display: flex;
      flex-direction: column;
    }
  }
}
