/* FONTSTACKS */

%fontStack {
  font-family: "Chakra Petch", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}
%fontStackBold {
  font-family: "Chakra Petch", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}
.flex{
  display: flex;
}
.hidden {
  display: none;
}






