/*Defaults and tools*/
*,
*:after,
*:before {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.1;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: default;
  color: black;
}

/* FONTSTACKS */
header .header-content, .btn-text, .searchbox-input-submit-text, input, h1, a, .numbered-list li, p {
  font-family: "Chakra Petch", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

h3,
h2 {
  font-family: "Chakra Petch", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

html {
  font-size: calc(1em + 1vw);
}

/*Modules*/
/*TEXT ELEMENTS AND INPUTS*/
.numbered-list {
  counter-reset: list;
}
.numbered-list li {
  margin: 0.25rem;
}
.numbered-list li::before {
  content: counter(list, decimal) ")";
  counter-increment: list;
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

em {
  font-weight: bold;
}

.underline {
  border-bottom: 1px solid black;
}

h1 {
  width: 100%;
  padding: 0.45rem;
  margin-bottom: 0.75rem;
}

h3,
h2 {
  padding: 0.25rem;
}

.gradient-header {
  padding: 0.25rem;
}

.searchbox-container {
  margin-bottom: 2rem;
  padding: 0.5rem 0;
}
.searchbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.searchbox-input {
  padding: 0.25rem;
  width: 100%;
  margin: 1rem;
}
.searchbox-input::placeholder {
  font-size: 0.65rem;
}
.searchbox-input-submit-text {
  display: flex;
  padding: 0.45rem 1.75rem;
  font-size: 0.8rem;
}

/*BUTTONS AND BARS*/
.btn {
  padding: 1px;
}
.btn.navbar-dropdown-theme-option {
  width: 90%;
  margin: 0.5rem;
  padding: 0.35rem 1rem;
  display: flex;
  align-self: center;
}
.btn-text {
  padding: 0.45rem 1.75rem;
  display: inline-block;
  font-size: 0.8rem;
}
.btn-text .cp {
  padding: 0.25rem 1.45rem;
}
.btn-text.left-border {
  border-left: 1px solid black;
}
.btn.done-btn {
  align-self: flex-end;
  margin-top: 2rem;
}

.repeat-capture-btn {
  margin-bottom: 0.5rem;
}

.gif-times-btn {
  background-image: url(/assets/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 1.15em;
  height: 1em;
  cursor: pointer;
  margin-left: auto;
}

.videodetails-timer {
  height: 1.2rem;
  width: 35%;
  margin-bottom: 0.5rem;
}

.play-btn {
  margin-right: 0.25rem;
  display: inline-block;
  padding: 2px;
}

.play-btn-text {
  display: inline-block;
  padding: 0.15rem;
  font-size: 0.65rem;
}

.copy-gif-btn {
  margin-bottom: 0.8rem;
}

.video-progress-bar {
  display: inline-block;
  height: 100%;
  width: 0.55rem;
  margin-right: 1.75px;
}
.video-playbar-progress-wrapper {
  width: 11rem;
  height: 1.25rem;
  margin-left: 0.35rem;
}
.video .videodetails-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

/*GIF CONTAINERS AND CONTENT*/
.gif-header-container {
  display: flex;
  padding: 0 0.25rem;
  margin-bottom: 0.3rem;
  align-items: center;
}
.gif-title-tagline {
  visibility: visible;
  padding: 0.35rem;
}
.gif-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
.gif-container:hover .gif-title-tagline {
  visibility: visible;
}
.gif-content-details-btn {
  position: relative;
  bottom: 2.75rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
}

/*ICONS CREATING PHASE*/
.small-window-icon {
  position: absolute;
  left: 30px;
  align-self: center;
  margin-bottom: 1rem;
}

/*GENERAL ELEMENTS*/
.vaporwave-window {
  display: flex;
  flex-direction: column;
  margin: 0.7rem;
}

header {
  width: 100vw;
  margin-top: 1px;
  margin-bottom: 2rem;
}
header .header-content {
  font-size: 0.6em;
  padding: 0 0.2rem;
}

.navbar {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-logo-container {
  width: 55%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.navbar-return-arrow {
  position: absolute;
  left: 5rem;
  align-self: center;
}
.navbar-logo-placeholder {
  width: 7rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.navbar-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-btn {
  margin: 0.3rem;
}
.navbar-theme-btn {
  min-width: 10.5rem;
}
.navbar-theme-btn-text.btn-text {
  border-right: 1px dotted black;
}
.navbar-myGIFS-btn {
  padding: 0.65rem;
}
.navbar-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-dropdown-theme-options-container {
  flex-direction: column;
  align-items: flex-start;
  width: 10.5rem;
}
.navbar-dropdown-theme-options-container.is-active {
  display: flex;
}
.navbar-dropdown-option-text {
  padding: 0.35rem 1rem;
}

main {
  padding: 0 1rem;
}

.create-gif-container {
  flex-direction: column;
  padding: 0.25rem;
}
.create-gif-container-subheader-wrapper {
  display: flex;
}
.create-gif-container-wrapper {
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
}
.create-gif-container-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-top: 1rem;
}
.create-gif-subheader-content {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.capture-video-container {
  flex-direction: column;
}
.capture-video-container .cp-btn {
  align-self: end;
}

.capturing-video-container {
  flex-direction: column;
}
.capturing-video-container.videodetails-timer {
  width: 80%;
  height: 1rem;
  margin-bottom: 0.5rem;
}

.preview-video-playbar-wrapper {
  display: flex;
  align-items: center;
}
.preview-video-buttons-wrapper {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploading-video-container {
  display: flex;
  flex-direction: column;
}
.uploading-video-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.uploading-video-text {
  font-weight: bold;
}
.uploading-video-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploading-video-cancel-btn {
  align-self: flex-end;
}
.uploading-progress-bar {
  margin-top: 1.5rem;
}

.repeat-capture-btn {
  margin-bottom: 0.55rem;
}

.success-buttons-wrapper {
  display: flex;
  flex-direction: column;
}
.success-upload-content {
  display: flex;
  flex-direction: column;
}
.success-upload-content p {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
.success-upload-content-wrapper {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
